{% extends 'common.html' %}

{#formatuje formularze do szerokości strony, trzeba go dodać w setin.py CRISPY_TEMPLATE_PACK = 'bootstrap4'#}
{% load crispy_forms_tags %}
​
{% block title %}Panel logowania{% endblock %}
​
{% block content %}
    <div class="jumbotron py-2 px-4">
        <h1 class="display-4">Zaloguj się do aplikacji</h1>
    </div>
    <div>
        <form method="post" action="{% url 'login' %}" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Zaloguj</button>
        </form>
    </div>
{% endblock %}