{% extends 'common.html' %}

{#formatuje formularze do szerokości strony, trzeba go dodać w setin.py CRISPY_TEMPLATE_PACK = 'bootstrap4'#}
{% load crispy_forms_tags %}

{% block title %}
    Zagłosuj na radiowe przeboje wszechczasów!
{% endblock %}

{% block lead_content %}
    <div class="jumbotron">
        <h1 class="display-4">Uwaga, konkurs!</h1>
        <p class="lead">Poniżej znajduje się lista 30 najpopularniejszych utworów naszej stacji z której musimy
            wytypować top 3. Teraz głos należy do Ciebie!</p>
        <hr class="my-4">
        <p>Aby zagłosować na utwór wystarczy, że klikniesz na przycisk i zatwierdzisz swój wybór. (Można głosować tylko
            raz na dany utwór)</p>
        <p>Dodatkowo, jeśli chcesz wziąć udział w konkursie, wypełnij proszę specjalny formularz i wyślij go do nas!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank" rel="noopener">Szczegóły o
                konkursie</a>
        </p>
    </div>
{% endblock %}

{% block content %}

    {#Forumlarz mumożliwiający udział w konkursie. Form jest obsługiwany przz JQ #}

    <div id="vote-choice" class="mb-4" style="display: none;">
        <div class="card">
            <div class="card-body">
                <p>Chcesz oddać głos na hit <span id="selected-song-name">hit</span> - <span id="selected-song-author">author</span>.
                </p>
                <p>Jeśli chcesz wygrać wakacyjne zestawy gadżetów odpowiedz na pytanie</p>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-block">
                    <button id="show-contest-form" class="btn btn-dark">Tak, chcę wygrać</button>
                    <button id="close-section" class="btn btn-outline-dark">Nie, dziękuję, wyślij tylko mój głos
                    </button>
                    <form id="song-vote-form" action="{% url 'vote' %}" method="POST" class="d-none">
                        {% csrf_token %}
                        {{ vote_form }}
                        <input type="hidden" value="" name="song_id" class="song-data">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="contest-form" class="mb-4" style="display: none;">
        <div class="card">
            <div class="card-body">
                <h4>Formularz konkursowy</h4>
                <form action="{% url 'submission' %}" class="form" method="post">
                    {% csrf_token %}
                    {{ contest_form|crispy }}
                    <button type="submit" class="btn btn-success">Wyślij formularz</button>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        {% for song in songs %}
            <div class="col-6 mb-4">
                <div class="card flex-row flex-wrap">
                    <div class="card-header border-0">
                        <img src="https://via.placeholder.com/100.png" alt="Album image">
                    </div>
                    <div class="card-block px-2">
                        <h5>{{ song.song_name }}</h5>
                        <p class="card-text">{{ song.album }}</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="card-footer w-100 text-muted">
                        <a href="#" data-id="{{ song.id }}" data-name="{{ song.song_name }}"
                           data-author="{{ song.album.author }}"
                           class="btn btn-primary btn-sm btn-block vote">Zagłosuj</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}