{% extends 'panel.html' %}
​
{% block title %}Lista albumów{% endblock %}
​
{% block content %}
    <div class="jumbotron py-2 px-4">
        <h1 class="display-4">Lista albumów</h1>
        <p class="lead">Poniżej znajduje się lista albumów dostępnych w aplikacji konkursowej.</p>
        <hr class="my-4">
        <p>
            <span class="d-block mb-2">Aby dodać nowy album kliknij w przycisk poniżej:</span>
{#  sprawdza uprawnienia "perm" i wzależności od uprawnień aktywuje lub dzezaktywuje przycisk   #}
            {% if perms.contest.add_album %}
                <a class="btn btn-success" href="{% url 'panel:albums:create' %}" role="button">Dodaj album</a>
            {% else %}
                <a href="#" class="btn btn-success disabled">Dodaj album</a>
            {% endif %}
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1" style="width: 15%;">
            </colgroup>
            <thead class="thead-dark">
            <tr>
                <th>Nazwa albumu</th>
                <th>Nazwa zespołu</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for album in object_list %}
                <tr>
                    <td>{{ album.album_name }}</td>
                    <td>{{ album.author }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'panel:albums:songs-index' album_id=album.id %}" class="btn btn-dark btn-sm">Pokaż utwory</a>
                            {% if perms.contest.change_album %}
                            <a href="{% url 'panel:albums:edit' pk=album.id %}" class="btn btn-info btn-sm">Edytuj</a>
                            {% endif %}
​
                            {% if perms.contest.delete_album and perms.contest.change_album %}
                            <a href="{% url 'panel:albums:delete' pk=album.id %}" class="btn btn-danger btn-sm">Usuń</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
