{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        {% block header %}
        <div class="text-center mt-2">
            <h1 class="">
                Przeboje wszechczasów
            </h1>
        </div>
        {% endblock %}

        {% block lead_content %}
        {% endblock %}

        <div class="row">
            <div class="col-12">
                {% include "partials/messages.html" %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>