{% extends 'panel.html' %}
​
{% block title %}Dodaj autora{% endblock %}
​
{% block content %}
    <div class="jumbotron py-2 px-4">
        <h1 class="display-4">Dodaj autora</h1>
        <hr class="my-4">
        <a class="btn btn-info" href="{%  url 'panel:authors:index' %}" role="button">Wróć do spisu</a>
    </div>
    <div>
        <form method="post" action="{% url 'panel:authors:create' %}" class="form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Zapisz dane</button>
        </form>
    </div>
{% endblock %}