{% extends 'panel.html' %}
​
{% block title %}Edycja autora: {{ author.first_name }} {{ author.last_name }}{% endblock %}
​
{% block content %}
    <div class="jumbotron py-2 px-4">
        <h1 class="display-4">Edytuj autora</h1>
        <hr class="my-4">
        <a class="btn btn-info" href="{%  url 'panel:authors:index' %}" role="button">Wróć do spisu</a>
    </div>
    <div>
        <form method="post" action="{% url 'panel:authors:update' id=author.id %}" class="form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Edytuj dane Autora</button>
        </form>
    </div>
{% endblock %}