{% extends 'panel.html' %}
​
{% block title %}Dodaj utwór do albumu {{ album.album_name }}{% endblock %}
​
{% block content %}
    <div class="jumbotron py-2 px-4">
        <h1 class="display-4">Dodaj utwór do albumu {{ album.album_name }}</h1>
        <hr class="my-4">
        <a class="btn btn-info" href="{%  url 'panel:albums:index' album_id=album.id %}" role="button">Wróć do spisu</a>
    </div>
    <div>
        <form method="post" action="{% url 'panel:albums:songs-create' album_id=album.id %}" class="form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Zapisz dane</button>
        </form>
    </div>
{% endblock %}